<div>

<h1>Ingrese con su Usuario</h1>

<form action="" method="post" enctype="application/x-www-form-urlencoded">
        <label> Mail del Usuario: </label> <input name="mail" type="text" required/>
        <label>Constraseña: </label> <input name="password" type="password" required />
        <button type="submit">Ingresar</button>
    </form>
<button type:"button"><a href="/registrer">Registrarse</a></button>
</div>
<script src="/socket.io/socket.io.js"></script>
