<div>

<h1>Enviar mensages</h1>

<form action="" method="post" enctype="application/x-www-form-urlencoded">
        <label> Mail del Usuario: </label> <input name="user" type="text" required/>
        <label>Mensaje: </label> <input name="message" type="text" required/>
        <button type="submit">Agregar</button>
    </form>

</div>
<script src="/socket.io/socket.io.js"></script>
