    <h1>Informacion del usuario conectado</h1>    
    <div>
        <p>Nombre: {{users.user.name}}</p>
        <p>apellido: {{users.user.surname}}</p>
        <p>Email: {{users.user.mail}}</p>
        <p>Edad: {{users.user.age}}</p>
        {{#if users.user.userRol}}
        <p>Rol: Usuario</p>
        {{/if}}
        {{#if users.user.admin}}
        <p>Rol: Administrador</p>
        {{/if}}
    </div>
    <button type:"button"><a href="/realtimeproducts">Volver</a></button>
