<form action="" method="post" enctype="application/x-www-form-urlencoded">
        <label> Mail del Usuario: </label> <input name="mail" type="text" required/>
        <button type="submit">Restaurar</button>
    </form>

    <script src="/js/index.js"></script>
